@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-700;
	}
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		@apply appearance-none;
	}
}
